.container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    height: 100vh;
}
.sender{
    background-color: blue;
}
.receiver{
    background-color: red;
}